<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análisis de Sesiones Empática E4</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.png' %}">
    <!-- Incluyendo Bootstrap desde CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Incluyendo Chart.js y el plugin de anotación -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.0.2"></script>
    <style>
        body {
            padding-top: 20px;
        }
        .container {
            max-width: 960px;
        }
        .analysis-section {
            margin-top: 40px;
        }
        .analysis-item {
            font-size: 1.1em;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center mb-4">Análisis de Sesiones en formato CSV de Pulsera Empática E4</h1>
        <h2 class="mb-3">Subir Archivos CSV</h2>
        <form method="post" enctype="multipart/form-data" action="{% url 'procesar_archivos' %}" class="mb-4">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Subir</button>
        </form>

        <!-- Incluir las secciones de análisis de datos -->
        {% include "temperature_analysis.html" %}
        {% include "heart_rate_analysis.html" %}
        {% include "accelerometer_analysis.html" %}
        {% include "bvp_analysis.html" %}
        {% include "ibi_analysis.html" %}
    </div>
    <!-- Incluyendo Bootstrap JS desde CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
